$black:#7f7f77;
$blue: #2196f3;
$light-grey: #ccc;

.octicon {
  color: $black;
  padding: 0 5px;
  fill: currentColor;
}
.octicon {
  width: 20px;
  height: 20px;
}
.md-headline .octicon {
  width: 30px;
  height: 30px;
}
.spaced {
  padding: 0 5px;
}

.content {
  padding: 20px;
}
.hidden {
  display: none;
}

.loading, .noResults{
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 20%;
    align-items: center;
    svg {
      width: 35px;
      height: 35px;
      animation: spin 1s linear infinite;
    }
  }

/*======================= User details ===========================*/
.userDetails {
  .userInfo {
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
  }
  ul {
    list-style-type: none;
  }
}
/*======================= History ===========================*/

.eventTemplate {
  .icon {
    display: flex;
    align-items: center;
    width: 40px;
    .octicon {
      width: 35px;
      height: 35px;
    }
  }
}

/*======================= Results ===========================*/
.results {
  padding: 5px;
  flex: 0 0 50%;
  position: relative;
  .backheader{
    width: 50px;
    height: 50px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    .md-button {
      min-width: 70px;
      padding: 0;
      margin: 2px 3px;
    }
    a:hover {
      color:$blue;
      .fa {
        color:$blue;
      }
    }
  }
}

/*======================= Home ===========================*/
.home {
  .searchBox {
    display: flex;
    width: 50%;
    margin: 0 auto;
    min-height: 50px;
    .icon {
      display: flex;
      cursor: pointer;
      align-items: center;
      svg {
        width: 35px;
        height: 35px;
      }
    }
    .field {
      flex: 1;
      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $black;
        outline: none;
        line-height: 2em;
        font-size: 1.5em;
        &:focus {
          border-bottom: 2px solid $blue;
        }
      }
    }

  }
  .separator{
    border-right: 1px solid $light-grey;
  }
  .resultLists {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
  }
}

/*=============================== FIXME =======================*/

.md-subhead {
  display: flex;
}
.resultLists{
  .md-theme-default.md-list {
    background-color: transparent;
  }
}
/*=============================== Animations =======================*/
@keyframes spin { 100% { transform:rotate(360deg); } }
